<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.kairos.DuetDesktopCaptureManager</string>
		<string>com.kairos.DuetGUI</string>
	</array>
	<key>Label</key>
	<string>com.kairos.DuetDesktopCapturerService</string>
	<key>MachServices</key>
	<dict>
		<key>com.kairos.DuetDesktopCapturerService</key>
		<true/>
		<key>com.kairos.DuetGUIService</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/DuetGUI.App/Contents/SharedSupport/DuetCoreService</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WaitForDebugger</key>
	<true/>
</dict>
</plist>
