<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.kairos.DuetDesktopCaptureManager</string>
	</array>
	<key>Label</key>
	<string>com.kairos.DuetService</string>
	<key>MachServices</key>
	<dict>
		<key>com.kairos.DuetService</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/DuetServicePrototype.app/Contents/MacOS/DuetCoreService</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Applications/DuetServicePrototype.app/Contents/MacOS/</string>
</dict>
</plist>
